.env
.idea/

#eclipse
.settings/
.buildpath
.phplint-cache
.phpunit.result.cache
.project
vendor
.vscode
.vscode/*
node_modules/
tmp_teste
tools/
npm-debug.log
yarn-error.log

tests/_reports

tmp_teste

showcase/node_modules
showcase/public/page-cache
showcase/.env
showcase/public/mix-manifest.json
showcase/public/css
showcase/public/hot
showcase/public/infra_js
showcase/public/infra_css
showcase/public/fonts
showcase/public/js
showcase/public/storage
showcase/public/tmp
showcase/storage/logs/*
showcase/vendor
showcase/storage/*.key

phive.phar*
