{
	"plugins": [
		"@babel/plugin-proposal-class-properties",
		[
			"prismjs",
			{
				"languages": [
					"javascript",
					"php",
					"css",
					"markup"
				],
				"plugins": [
					"line-numbers"
				],
				"theme": "tomorrow",
				"css": true
			}
		]
	]
}